.contact{

  &__content{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 50px;
    width: 440px;
  }
  &__title{
    @include font(600, 36px, 43px);
    margin-top: -170px;
  }
  &__text{
    @include font(400, 14px, 140%);
  }
  &__form{

    &-input{
      padding: 20px 30px;
      width: 100%;
      margin-bottom: 25px;
      border: 1px solid #333333;
      border-radius: 6px;
      outline: none;
    }

    &-text{
      width: 47%;
    }
    &-text2{
      margin-left: 5%;
    }

    &-btn{
      @include font(400, 14px, 17px);
      text-transform: uppercase;
      color: #ffffff;
      background-color: $primered;
      padding: 17px 34px;
      border: 1.5px solid $primered;
      border-radius: 6px;
      cursor: pointer;
      transition: .5s;
      &:hover{
        background-color: #ffffff;
        color: $primered;
      }
    }
  }

}