.header {
  position: fixed;
  padding: 20px 0;
  width: 100%;
  background-color: rgba(237, 76, 92, 0.8);
  z-index: 5;

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {

    display: flex;
    column-gap: 10px;

    &-title a {
      @include font(700, 18px, 22px);
      text-transform: uppercase;
      color: #FFFFFF;
      text-decoration: none;
    }
  }

  &__nav {

    display: flex;
    column-gap: 20px;

    &-link {
      @include font(normal, 14px, 17px);
      text-transform: uppercase;
      color: #FFFFFF;
      text-decoration: none;
    }
  }

  &__right {
    display: flex;
    align-items: center;
    column-gap: 5px;

    &-btn {
      @include font(400, 14px, 17px);
      text-transform: uppercase;
      color: #FFFFFF;
      padding: 12px 30px;
      border: 1px solid #FFFFFF;
      border-radius: 6px;
      background-color: transparent;
      cursor: pointer;
      transition: .5s;

      &:hover {
        background-color: #ffffff;
        color: $primered;
      }
    }
  }

}


.mobile-btn{
  display: none;
}

.mobile-btn span{
  height: 3px;
  width: 100%;
  background-color: white;
  position: relative;
  z-index: 10;
}

.mobile-btn span::before,
.mobile-btn span::after{
  content: '';
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
}
.mobile-btn span::before{
  top: -10px;
}
.mobile-btn span::after{
  top: 10px;
}
