.slider {
  background-color: $primered;

  &__content {
    height: 500px;
    display: flex;
    flex-direction: column;
    row-gap: 45px;
    justify-content: center;
    width: 445px;

    &-2{
      align-items: center;
    }
  }

  &__icons{
    display: flex;
    column-gap: 25px;
    a{
      color: #ffffff;
      font-size: 25px;
      transition: .5s;
      &:hover{
        transform: scale(1.3);
      }
    }
  }

  &__title {
    @include font(600, 36px, 43px);
    color: #FFFFFF;
  }

  &__text {
    @include font(400, 14px, 140%);
    color: #FFFFFF;
  }


}